@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Dancing+Script:wght@500&family=Merienda&family=The+Nautigal&display=swap');

.navBarButton{
   display: flex;
   gap: 20px;
   justify-content: end;
width: 50%;
margin-bottom: 35px;
}
.container-fluid{
    display: flex;
    width: 100%;

}
.links{
    text-decoration: none;

    color: var(--bs-navbar-brand-color);
}
.NAVBAR{
    height: 10%;
    width: 100%;
    display: flex;
    z-index: 3 !important;
    justify-content: center;
    align-items: center;
}

.iconFav{
    font-size: 23px;
    margin-right: 10px;
}
.iconFav:hover{
    color: rgb(110, 104, 104);
    margin-left: 5px;
}
.home{
    font-size: 20px;

}
.home:hover{
    color: rgb(110, 104, 104);
}
.favSPAN{
    background-color: rgb(243, 60, 60);
    margin-right: 6px;
}
.navbar-brand a{
    font-weight: 600 ;
    /* font-size: 30px !important; */

    justify-content: center;
}
.navbar-brand
{
    font-family: 'The Nautigal', cursive;
   
    
}
.header{
    width: 50%;
/* margin-left: 10px; */
    
font-weight: 700;
}
.header h3{
    margin-left: 10px;
    margin-top: 10px;
}
.searchBar{
    display: flex;
    justify-items: center;
}


.SEARCH-Container input {
    padding: 10px;
    border-color: none;
    border: none;
    border-radius: 15px;
    border: -0.7px solid;
    border: 0.1px solid #dcd9d9;
    outline-color: #dcd9d9;
    font-size: 16px;
    color: var(--BlackColor);
    outline-style: none;
    padding-left: 15px;
    height: 30px;
  }
  
  .resultInSearch {
    display: flex;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: #ffffff;
    justify-content: center;
    /* align-items: center; */
    width: 150%;
    /* left: -17%; */
    right: -25%;
    gap: 10px;
    padding: 10px;
    border: 0.5px solid var(--mainColor);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  }
  
  .title_photo_search {
    /* padding: 5px; */
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .title_photo_search:hover {
    transition: 0.3s;
    cursor: pointer;
  }
  
  .title_photo_search:hover .Title-search p {
    color: var(--btnsColor);
    transition: 0.3s;
  }
  
  .image-search {
    width: 30%;
    height: 100%;
  }
  
  .image-search img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .Title-search {
    display: flex;
    width: 60%;
    font-size: 12px;
    font-weight: 800;
  }
  
  .SEARCH-Container {
    position: relative;
  }
  .SEARCH-Container .SEARCH-ICON {
    position: absolute;
    top: 10%;
    right: 5%;
  }
  
  .SEARCH-Container .SEARCH-ICON svg {
    font-size: 20px;
  }