/* .popupIndex{
    z-index: 2000 !important;
    color: red !important;
} */
.modal-dialog { 
    position: absolute;
    top: 25%;
    /* left: 50%; */
    transform: translate(-50%, -50%);
    color: rgb(51, 49, 49);
/* margin-left: 30%; */
}

.modal-content { 
    z-index: 2010 !important;
    
  
}

.modal-backdrop {
    z-index: 3 !important;
}
#staticBackdrop{
    background-color: rgba(0, 0, 0, 0.7) !important
/* opacity: 0.5; */
}

.favIconInOneMovie{
    cursor: pointer;
    font-size: 32px;
    color: rgb(243, 60, 60);
    font-weight: 700;

}